{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body class="bg-light">
<div class="container d-flex align-items-center justify-content-center vh-90">
    <div class="text-center">
        <div class="alert alert-success">
            <h2>Password Reset Email Sent</h2>
            <p>Please check your email for the password reset link.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

{% endblock content %}
